.heroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/SNL_123SesameStreet_StreetSign.PNG");
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: auto;
    height: 500px;
}

#login-error-msg {
    opacity: 0;
    color: #ff7a87;
}

.invalid-feedback {
    color: #ff7a87;
}

#inspiration {
    max-width: 500px;
}

#btt-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
  
#btt-button::after {
    content: "\f139";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #888;
}
  
#btt-button:hover {
    cursor: pointer;
    background-color: #555;
}
  
#btt-button:active {
    background-color: #777;
}
  
#btt-button.show {
    opacity: 0.5;
    visibility: visible;
}

@media (min-width: 1200px) {
    #sign-in-form-body {
        max-width: 1000px;
    }
}

@media (min-width: 992px) {
    #contact-form-body {
        max-width: 800px;
    }
}

@media (min-width: 1024px) {
    #practice-form-body {
        max-width: 1000px;
    }
}